SECRET_KEY=YOUR_SECRET_KEY
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

CELERY_BROKER_URL=YOUR_CELERY_BROKER_URL
CELERY_RESULT_BACKEND=YOUR_CELERY_RESULT_BACKEND

NAME=YOUR_DB_NAME
USER=YOUR_DB_USER
PASSWORD=YOUR_DB_PASSWORD
HOST=YOUR_DB_HOST
PORT=YOUR_DB_PORT